<div class="todo-widget">
  <div class="row mb-3">
    <h1 class="todo-widget__h1 mat-h1">{{ headline }}</h1>
  </div>
  <div class="row">
    <mat-form-field class="todo-widget__input-field">
      <mat-label>add new todo</mat-label>
      <input
        type="text"
        matInput
        [formControl]="todoInput"
        (keyup.enter)="onSubmit()"
      >
    </mat-form-field>
  </div>
  <div class="row">
    <app-todo-list
      [items]="todoList || []"
      (editEvent)="onEdit($event)"
      (deleteEvent)="onDelete($event)"
    ></app-todo-list>
  </div>
  <button color="primary" class="mt-5" mat-raised-button (click)="onReset()">Reset</button>
</div>

