@use "@angular/material" as mat;
@use "../../style/theme";

.todo-widget {

  &__h1 {
    text-align: right;
    color: white;
  }

  &__card {
    border-radius: 5px;
    padding: 10px 20px 0px 20px;
    background-color: theme.$accent;
  }

  &__button {
    width:100%;
    height: 56px;
  }

  &__link {
    text-decoration: none;
    color: theme.$primary;
  }

  &__link:hover {
    color: theme.$accent;
  }
}

@include mat.typography-hierarchy(theme.$typography-handwriting);
