@use '../../../shared/style/theme';

.side-navigation {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-top: 10px;

  &__item {
    justify-content: left;
    &--active {
      color: theme.$primary !important;
      background-color: theme.$accent-light;
    }
  }
}