<h1>Template-driven forms</h1>

<section>
  <div class="d-flex flex-column row-gap-3">
    <p>
      Template-driven forms are easy to use for small forms
      and require no code in the typescript file. <br />
      That's why they are called "template-driven".
    </p>
    <form>
      <mat-form-field>
        <mat-label>Template driven text</mat-label>
        <input
          matInput
          ngModel
          #templateDrivenText
          type="text"
          name="templateDrivenText">
      </mat-form-field>
      <div class="mb-3">Your input is: {{ templateDrivenText.value }}</div>
    </form>
    <p>
      Even though template-driven forms don't require binding
      to the typescript code, it still might make sense to do so.
      In this case, use two-way binding via the Bananbox <span>[( )]</span>.
    </p>
    <form>
      <mat-form-field>
        <mat-label>Template driven number</mat-label>
        <input
          matInput
          [(ngModel)]="templateDrivenNumber"
          type="number"
          name="templateDrivenNumber">
      </mat-form-field>
      <div class="mb-3">Your input is: {{ templateDrivenNumber }}</div>
    </form>
    <p>
      Two inputs within two NgModelGroup.
    </p>
    <form>
      <div 
        ngModelGroup="contact"
        #templateDrivenGroup="ngModelGroup"
        >
        <div ngModelGroup="name">
          <mat-form-field>
            <mat-label>Firstname</mat-label>
            <input
              matInput
              ngModel
              name="firstName">
          </mat-form-field>
          <br/>
          <mat-form-field>
            <mat-label>Lastname</mat-label>
            <input
              matInput
              ngModel
              name="lastName">
          </mat-form-field>
        </div>
      </div>
      <div class="mb-3">Your input is: {{ templateDrivenGroup.value | json }}</div>
    </form>
  </div>
</section>

<h1>Reactive forms</h1>
<section>
  <div class="d-flex flex-column row-gap-3">
    <form [formGroup]="form">
      <mat-form-field>
        <mat-label>Text</mat-label>
        <input
          matInput
          formControlName="text">
      </mat-form-field>
      <br/>
      <mat-form-field>
        <mat-label>Number</mat-label>
        <input
          matInput
          type="number"
          formControlName="number">
      </mat-form-field>
      <div class="mb-3">Your input is: {{ form.value | json }}</div>
    </form>
  </div>
</section>
